/gateway/.env
/services/users/.env
/services/users/.byebug_history
/gateway/node_modules/*
/gateway/dist/*
.vscode/*
/gateway/package-lock.json
/gateway/yarn.lock
/gateway/src/dist/*
services/video_streaming/.env
services/video_streaming/go.sum
/services/recruitment/sorbet/*
/services/storage/sorbet/*
/services/users/sorbet/*
/services/video_streaming/go.sum
/services/video_streaming/app/go.sum
/services/video_streaming/app/config/go.sum
/services/video_streaming/app/library/go.sum
/services/video_streaming/app/resolvers/go.sum
/services/video_streaming/app/router/go.sum
